.audioPlayer {
  display: flex;
  align-items: center;
  justify-content: center; 
  background: linear-gradient(135deg, #00d2ff, #007bbd); /* Blue panel background */
  padding: 5px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  width: auto; 
  height: auto; 
}

.playButton {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.0rem; 
  cursor: pointer;
  padding: 0; 
  margin: 0;
  transition: transform 0.3s ease;
}

.playButton:hover {
  transform: scale(1.1);
}
